openapi: 3.0.3
info:
  contact:
    email: hello@merge.dev
    name: Merge Team
    url: https://www.merge.dev/
  description: The unified API for building rich integrations with multiple Accounting
    & Finance platforms.
  title: Merge Accounting API
  version: "1.0"
servers:
- description: Production
  url: https://api.merge.dev/api/accounting/v1
- description: Sandbox
  url: https://api-sandbox.merge.dev/api/accounting/v1
paths:
  /account-details:
    get:
      description: Get details for a linked account.
      operationId: account_details_retrieve
      parameters:
      - description: Token identifying the end user.
        explode: false
        in: header
        name: X-Account-Token
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountDetails'
      security:
      - tokenAuth: []
      tags:
      - account-details
      x-endpoint-availability: ENDPOINT_AVAILABILITY_PUBLIC
  /account-token/{public_token}:
    get:
      description: Returns the account token for the end user with the provided public
        token.
      operationId: account_token_retrieve
      parameters:
      - explode: false
        in: path
        name: public_token
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountToken'
      security:
      - tokenAuth: []
      tags:
      - account-token
      x-endpoint-availability: ENDPOINT_AVAILABILITY_PUBLIC
  /accounts:
    get:
      description: Returns a list of `Account` objects.
      operationId: accounts_list
      parameters:
      - description: Token identifying the end user.
        explode: false
        in: header
        name: X-Account-Token
        required: true
        schema:
          type: string
        style: simple
      - description: If provided, will only return accounts for this company.
        examples:
          CompanyId:
            summary: company_id
        explode: true
        in: query
        name: company_id
        required: false
        schema:
          type: string
        style: form
      - description: If provided, will only return objects created after this datetime.
        explode: true
        in: query
        name: created_after
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: If provided, will only return objects created before this datetime.
        explode: true
        in: query
        name: created_before
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: The pagination cursor value.
        examples:
          CursorExample:
            summary: Cursor Example
            value: cD0yMDIxLTAxLTA2KzAzJTNBMjQlM0E1My40MzQzMjYlMkIwMCUzQTAw
        explode: true
        in: query
        name: cursor
        required: false
        schema:
          type: string
        style: form
      - description: Whether to include data that was marked as deleted by third party
          webhooks.
        explode: true
        in: query
        name: include_deleted_data
        required: false
        schema:
          type: boolean
        style: form
      - description: Whether to include the original data Merge fetched from the third-party
          to produce these models.
        explode: true
        in: query
        name: include_remote_data
        required: false
        schema:
          type: boolean
        style: form
      - description: If provided, only objects synced by Merge after this date time
          will be returned.
        explode: true
        in: query
        name: modified_after
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: If provided, only objects synced by Merge before this date time
          will be returned.
        explode: true
        in: query
        name: modified_before
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: Number of results to return per page.
        explode: true
        in: query
        name: page_size
        required: false
        schema:
          type: integer
        style: form
      - description: Deprecated. Use show_enum_origins.
        examples:
          OriginalEnumValuesClassification,Status:
            summary: Original Enum Values Classification, Status
            value: classification,status
        explode: true
        in: query
        name: remote_fields
        required: false
        schema:
          enum:
          - classification
          - classification,status
          - status
          type: string
        style: form
      - description: The API provider's ID for the given object.
        explode: true
        in: query
        name: remote_id
        required: false
        schema:
          nullable: true
          type: string
        style: form
      - description: Which fields should be returned in non-normalized form.
        examples:
          OriginalEnumValuesClassification,Status:
            summary: Original Enum Values Classification, Status
            value: classification,status
        explode: true
        in: query
        name: show_enum_origins
        required: false
        schema:
          enum:
          - classification
          - classification,status
          - status
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedAccountList'
      security:
      - tokenAuth: []
      tags:
      - accounts
      x-endpoint-availability: ENDPOINT_AVAILABILITY_PUBLIC
    post:
      description: Creates an `Account` object with the given values.
      operationId: accounts_create
      parameters:
      - description: Token identifying the end user.
        explode: false
        in: header
        name: X-Account-Token
        required: true
        schema:
          type: string
        style: simple
      - description: Whether to include debug fields (such as log file links) in the
          response.
        explode: true
        in: query
        name: is_debug_mode
        required: false
        schema:
          type: boolean
        style: form
      - description: Whether or not third-party updates should be run asynchronously.
        explode: true
        in: query
        name: run_async
        required: false
        schema:
          type: boolean
        style: form
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AccountEndpointRequest'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/AccountEndpointRequest'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/AccountEndpointRequest'
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountResponse'
      security:
      - tokenAuth: []
      tags:
      - accounts
      x-endpoint-availability: ENDPOINT_AVAILABILITY_PUBLIC
  /accounts/{id}:
    get:
      description: Returns an `Account` object with the given `id`.
      operationId: accounts_retrieve
      parameters:
      - description: Token identifying the end user.
        explode: false
        in: header
        name: X-Account-Token
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      - description: Whether to include the original data Merge fetched from the third-party
          to produce these models.
        explode: true
        in: query
        name: include_remote_data
        required: false
        schema:
          type: boolean
        style: form
      - description: Deprecated. Use show_enum_origins.
        examples:
          OriginalEnumValuesClassification,Status:
            summary: Original Enum Values Classification, Status
            value: classification,status
        explode: true
        in: query
        name: remote_fields
        required: false
        schema:
          enum:
          - classification
          - classification,status
          - status
          type: string
        style: form
      - description: Which fields should be returned in non-normalized form.
        examples:
          OriginalEnumValuesClassification,Status:
            summary: Original Enum Values Classification, Status
            value: classification,status
        explode: true
        in: query
        name: show_enum_origins
        required: false
        schema:
          enum:
          - classification
          - classification,status
          - status
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Account'
      security:
      - tokenAuth: []
      tags:
      - accounts
      x-endpoint-availability: ENDPOINT_AVAILABILITY_PUBLIC
  /accounts/meta/post:
    get:
      description: Returns metadata for `Account` POSTs.
      operationId: accounts_meta_post_retrieve
      parameters:
      - description: Token identifying the end user.
        explode: false
        in: header
        name: X-Account-Token
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MetaResponse'
      security:
      - tokenAuth: []
      tags:
      - accounts
      x-merge-meta-post: META_POST
      x-endpoint-availability: ENDPOINT_AVAILABILITY_PUBLIC
  /addresses/{id}:
    get:
      description: Returns an `Address` object with the given `id`.
      operationId: addresses_retrieve
      parameters:
      - description: Token identifying the end user.
        explode: false
        in: header
        name: X-Account-Token
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      - description: Whether to include the original data Merge fetched from the third-party
          to produce these models.
        explode: true
        in: query
        name: include_remote_data
        required: false
        schema:
          type: boolean
        style: form
      - description: Deprecated. Use show_enum_origins.
        examples:
          OriginalEnumValuesType:
            summary: Original Enum Values Type
            value: type
        explode: true
        in: query
        name: remote_fields
        required: false
        schema:
          enum:
          - type
          type: string
        style: form
      - description: Which fields should be returned in non-normalized form.
        examples:
          OriginalEnumValuesType:
            summary: Original Enum Values Type
            value: type
        explode: true
        in: query
        name: show_enum_origins
        required: false
        schema:
          enum:
          - type
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Address'
      security:
      - tokenAuth: []
      tags:
      - addresses
      x-endpoint-availability: ENDPOINT_AVAILABILITY_PUBLIC
  /attachments:
    get:
      description: Returns a list of `AccountingAttachment` objects.
      operationId: attachments_list
      parameters:
      - description: Token identifying the end user.
        explode: false
        in: header
        name: X-Account-Token
        required: true
        schema:
          type: string
        style: simple
      - description: If provided, will only return accounting attachments for this
          company.
        examples:
          CompanyId:
            summary: company_id
        explode: true
        in: query
        name: company_id
        required: false
        schema:
          type: string
        style: form
      - description: If provided, will only return objects created after this datetime.
        explode: true
        in: query
        name: created_after
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: If provided, will only return objects created before this datetime.
        explode: true
        in: query
        name: created_before
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: The pagination cursor value.
        examples:
          CursorExample:
            summary: Cursor Example
            value: cD0yMDIxLTAxLTA2KzAzJTNBMjQlM0E1My40MzQzMjYlMkIwMCUzQTAw
        explode: true
        in: query
        name: cursor
        required: false
        schema:
          type: string
        style: form
      - description: Whether to include data that was marked as deleted by third party
          webhooks.
        explode: true
        in: query
        name: include_deleted_data
        required: false
        schema:
          type: boolean
        style: form
      - description: Whether to include the original data Merge fetched from the third-party
          to produce these models.
        explode: true
        in: query
        name: include_remote_data
        required: false
        schema:
          type: boolean
        style: form
      - description: If provided, only objects synced by Merge after this date time
          will be returned.
        explode: true
        in: query
        name: modified_after
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: If provided, only objects synced by Merge before this date time
          will be returned.
        explode: true
        in: query
        name: modified_before
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: Number of results to return per page.
        explode: true
        in: query
        name: page_size
        required: false
        schema:
          type: integer
        style: form
      - description: The API provider's ID for the given object.
        explode: true
        in: query
        name: remote_id
        required: false
        schema:
          nullable: true
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedAccountingAttachmentList'
      security:
      - tokenAuth: []
      tags:
      - attachments
      x-endpoint-availability: ENDPOINT_AVAILABILITY_PUBLIC
    post:
      description: Creates an `AccountingAttachment` object with the given values.
      operationId: attachments_create
      parameters:
      - description: Token identifying the end user.
        explode: false
        in: header
        name: X-Account-Token
        required: true
        schema:
          type: string
        style: simple
      - description: Whether to include debug fields (such as log file links) in the
          response.
        explode: true
        in: query
        name: is_debug_mode
        required: false
        schema:
          type: boolean
        style: form
      - description: Whether or not third-party updates should be run asynchronously.
        explode: true
        in: query
        name: run_async
        required: false
        schema:
          type: boolean
        style: form
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AccountingAttachmentEndpointRequest'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/AccountingAttachmentEndpointRequest'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/AccountingAttachmentEndpointRequest'
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountingAttachmentResponse'
      security:
      - tokenAuth: []
      tags:
      - attachments
      x-endpoint-availability: ENDPOINT_AVAILABILITY_PUBLIC
  /attachments/{id}:
    get:
      description: Returns an `AccountingAttachment` object with the given `id`.
      operationId: attachments_retrieve
      parameters:
      - description: Token identifying the end user.
        explode: false
        in: header
        name: X-Account-Token
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      - description: Whether to include the original data Merge fetched from the third-party
          to produce these models.
        explode: true
        in: query
        name: include_remote_data
        required: false
        schema:
          type: boolean
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountingAttachment'
      security:
      - tokenAuth: []
      tags:
      - attachments
      x-endpoint-availability: ENDPOINT_AVAILABILITY_PUBLIC
  /attachments/meta/post:
    get:
      description: Returns metadata for `AccountingAttachment` POSTs.
      operationId: attachments_meta_post_retrieve
      parameters:
      - description: Token identifying the end user.
        explode: false
        in: header
        name: X-Account-Token
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MetaResponse'
      security:
      - tokenAuth: []
      tags:
      - attachments
      x-merge-meta-post: META_POST
      x-endpoint-availability: ENDPOINT_AVAILABILITY_PUBLIC
  /available-actions:
    get:
      description: Returns a list of models and actions available for an account.
      operationId: available_actions_retrieve
      parameters:
      - description: Token identifying the end user.
        explode: false
        in: header
        name: X-Account-Token
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AvailableActions'
      security:
      - tokenAuth: []
      tags:
      - available-actions
      x-endpoint-availability: ENDPOINT_AVAILABILITY_PUBLIC
  /balance-sheets:
    get:
      description: Returns a list of `BalanceSheet` objects.
      operationId: balance_sheets_list
      parameters:
      - description: Token identifying the end user.
        explode: false
        in: header
        name: X-Account-Token
        required: true
        schema:
          type: string
        style: simple
      - description: If provided, will only return balance sheets for this company.
        examples:
          CompanyId:
            summary: company_id
        explode: true
        in: query
        name: company_id
        required: false
        schema:
          type: string
        style: form
      - description: If provided, will only return objects created after this datetime.
        explode: true
        in: query
        name: created_after
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: If provided, will only return objects created before this datetime.
        explode: true
        in: query
        name: created_before
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: The pagination cursor value.
        examples:
          CursorExample:
            summary: Cursor Example
            value: cD0yMDIxLTAxLTA2KzAzJTNBMjQlM0E1My40MzQzMjYlMkIwMCUzQTAw
        explode: true
        in: query
        name: cursor
        required: false
        schema:
          type: string
        style: form
      - description: Whether to include data that was marked as deleted by third party
          webhooks.
        explode: true
        in: query
        name: include_deleted_data
        required: false
        schema:
          type: boolean
        style: form
      - description: Whether to include the original data Merge fetched from the third-party
          to produce these models.
        explode: true
        in: query
        name: include_remote_data
        required: false
        schema:
          type: boolean
        style: form
      - description: If provided, only objects synced by Merge after this date time
          will be returned.
        explode: true
        in: query
        name: modified_after
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: If provided, only objects synced by Merge before this date time
          will be returned.
        explode: true
        in: query
        name: modified_before
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: Number of results to return per page.
        explode: true
        in: query
        name: page_size
        required: false
        schema:
          type: integer
        style: form
      - description: The API provider's ID for the given object.
        explode: true
        in: query
        name: remote_id
        required: false
        schema:
          nullable: true
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedBalanceSheetList'
      security:
      - tokenAuth: []
      tags:
      - balance-sheets
      x-endpoint-availability: ENDPOINT_AVAILABILITY_PUBLIC
  /balance-sheets/{id}:
    get:
      description: Returns a `BalanceSheet` object with the given `id`.
      operationId: balance_sheets_retrieve
      parameters:
      - description: Token identifying the end user.
        explode: false
        in: header
        name: X-Account-Token
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      - description: Whether to include the original data Merge fetched from the third-party
          to produce these models.
        explode: true
        in: query
        name: include_remote_data
        required: false
        schema:
          type: boolean
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BalanceSheet'
      security:
      - tokenAuth: []
      tags:
      - balance-sheets
      x-endpoint-availability: ENDPOINT_AVAILABILITY_PUBLIC
  /cash-flow-statements:
    get:
      description: Returns a list of `CashFlowStatement` objects.
      operationId: cash_flow_statements_list
      parameters:
      - description: Token identifying the end user.
        explode: false
        in: header
        name: X-Account-Token
        required: true
        schema:
          type: string
        style: simple
      - description: If provided, will only return cash flow statements for this company.
        examples:
          CompanyId:
            summary: company_id
        explode: true
        in: query
        name: company_id
        required: false
        schema:
          type: string
        style: form
      - description: If provided, will only return objects created after this datetime.
        explode: true
        in: query
        name: created_after
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: If provided, will only return objects created before this datetime.
        explode: true
        in: query
        name: created_before
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: The pagination cursor value.
        examples:
          CursorExample:
            summary: Cursor Example
            value: cD0yMDIxLTAxLTA2KzAzJTNBMjQlM0E1My40MzQzMjYlMkIwMCUzQTAw
        explode: true
        in: query
        name: cursor
        required: false
        schema:
          type: string
        style: form
      - description: Whether to include data that was marked as deleted by third party
          webhooks.
        explode: true
        in: query
        name: include_deleted_data
        required: false
        schema:
          type: boolean
        style: form
      - description: Whether to include the original data Merge fetched from the third-party
          to produce these models.
        explode: true
        in: query
        name: include_remote_data
        required: false
        schema:
          type: boolean
        style: form
      - description: If provided, only objects synced by Merge after this date time
          will be returned.
        explode: true
        in: query
        name: modified_after
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: If provided, only objects synced by Merge before this date time
          will be returned.
        explode: true
        in: query
        name: modified_before
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: Number of results to return per page.
        explode: true
        in: query
        name: page_size
        required: false
        schema:
          type: integer
        style: form
      - description: The API provider's ID for the given object.
        explode: true
        in: query
        name: remote_id
        required: false
        schema:
          nullable: true
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedCashFlowStatementList'
      security:
      - tokenAuth: []
      tags:
      - cash-flow-statements
      x-endpoint-availability: ENDPOINT_AVAILABILITY_PUBLIC
  /cash-flow-statements/{id}:
    get:
      description: Returns a `CashFlowStatement` object with the given `id`.
      operationId: cash_flow_statements_retrieve
      parameters:
      - description: Token identifying the end user.
        explode: false
        in: header
        name: X-Account-Token
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      - description: Whether to include the original data Merge fetched from the third-party
          to produce these models.
        explode: true
        in: query
        name: include_remote_data
        required: false
        schema:
          type: boolean
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CashFlowStatement'
      security:
      - tokenAuth: []
      tags:
      - cash-flow-statements
      x-endpoint-availability: ENDPOINT_AVAILABILITY_PUBLIC
  /company-info:
    get:
      description: Returns a list of `CompanyInfo` objects.
      operationId: company_info_list
      parameters:
      - description: Token identifying the end user.
        explode: false
        in: header
        name: X-Account-Token
        required: true
        schema:
          type: string
        style: simple
      - description: If provided, will only return objects created after this datetime.
        explode: true
        in: query
        name: created_after
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: If provided, will only return objects created before this datetime.
        explode: true
        in: query
        name: created_before
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: The pagination cursor value.
        examples:
          CursorExample:
            summary: Cursor Example
            value: cD0yMDIxLTAxLTA2KzAzJTNBMjQlM0E1My40MzQzMjYlMkIwMCUzQTAw
        explode: true
        in: query
        name: cursor
        required: false
        schema:
          type: string
        style: form
      - description: Whether to include data that was marked as deleted by third party
          webhooks.
        explode: true
        in: query
        name: include_deleted_data
        required: false
        schema:
          type: boolean
        style: form
      - description: Whether to include the original data Merge fetched from the third-party
          to produce these models.
        explode: true
        in: query
        name: include_remote_data
        required: false
        schema:
          type: boolean
        style: form
      - description: If provided, only objects synced by Merge after this date time
          will be returned.
        explode: true
        in: query
        name: modified_after
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: If provided, only objects synced by Merge before this date time
          will be returned.
        explode: true
        in: query
        name: modified_before
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: Number of results to return per page.
        explode: true
        in: query
        name: page_size
        required: false
        schema:
          type: integer
        style: form
      - description: The API provider's ID for the given object.
        explode: true
        in: query
        name: remote_id
        required: false
        schema:
          nullable: true
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedCompanyInfoList'
      security:
      - tokenAuth: []
      tags:
      - company-info
      x-endpoint-availability: ENDPOINT_AVAILABILITY_PUBLIC
  /company-info/{id}:
    get:
      description: Returns a `CompanyInfo` object with the given `id`.
      operationId: company_info_retrieve
      parameters:
      - description: Token identifying the end user.
        explode: false
        in: header
        name: X-Account-Token
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      - description: Whether to include the original data Merge fetched from the third-party
          to produce these models.
        explode: true
        in: query
        name: include_remote_data
        required: false
        schema:
          type: boolean
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CompanyInfo'
      security:
      - tokenAuth: []
      tags:
      - company-info
      x-endpoint-availability: ENDPOINT_AVAILABILITY_PUBLIC
  /contacts:
    get:
      description: Returns a list of `Contact` objects.
      operationId: contacts_list
      parameters:
      - description: Token identifying the end user.
        explode: false
        in: header
        name: X-Account-Token
        required: true
        schema:
          type: string
        style: simple
      - description: If provided, will only return contacts for this company.
        examples:
          CompanyId:
            summary: company_id
        explode: true
        in: query
        name: company_id
        required: false
        schema:
          type: string
        style: form
      - description: If provided, will only return objects created after this datetime.
        explode: true
        in: query
        name: created_after
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: If provided, will only return objects created before this datetime.
        explode: true
        in: query
        name: created_before
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: The pagination cursor value.
        examples:
          CursorExample:
            summary: Cursor Example
            value: cD0yMDIxLTAxLTA2KzAzJTNBMjQlM0E1My40MzQzMjYlMkIwMCUzQTAw
        explode: true
        in: query
        name: cursor
        required: false
        schema:
          type: string
        style: form
      - description: Whether to include data that was marked as deleted by third party
          webhooks.
        explode: true
        in: query
        name: include_deleted_data
        required: false
        schema:
          type: boolean
        style: form
      - description: Whether to include the original data Merge fetched from the third-party
          to produce these models.
        explode: true
        in: query
        name: include_remote_data
        required: false
        schema:
          type: boolean
        style: form
      - description: If provided, only objects synced by Merge after this date time
          will be returned.
        explode: true
        in: query
        name: modified_after
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: If provided, only objects synced by Merge before this date time
          will be returned.
        explode: true
        in: query
        name: modified_before
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: Number of results to return per page.
        explode: true
        in: query
        name: page_size
        required: false
        schema:
          type: integer
        style: form
      - description: Deprecated. Use show_enum_origins.
        examples:
          OriginalEnumValuesStatus:
            summary: Original Enum Values Status
            value: status
        explode: true
        in: query
        name: remote_fields
        required: false
        schema:
          enum:
          - status
          type: string
        style: form
      - description: The API provider's ID for the given object.
        explode: true
        in: query
        name: remote_id
        required: false
        schema:
          nullable: true
          type: string
        style: form
      - description: Which fields should be returned in non-normalized form.
        examples:
          OriginalEnumValuesStatus:
            summary: Original Enum Values Status
            value: status
        explode: true
        in: query
        name: show_enum_origins
        required: false
        schema:
          enum:
          - status
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedContactList'
      security:
      - tokenAuth: []
      tags:
      - contacts
      x-endpoint-availability: ENDPOINT_AVAILABILITY_PUBLIC
    post:
      description: Creates a `Contact` object with the given values.
      operationId: contacts_create
      parameters:
      - description: Token identifying the end user.
        explode: false
        in: header
        name: X-Account-Token
        required: true
        schema:
          type: string
        style: simple
      - description: Whether to include debug fields (such as log file links) in the
          response.
        explode: true
        in: query
        name: is_debug_mode
        required: false
        schema:
          type: boolean
        style: form
      - description: Whether or not third-party updates should be run asynchronously.
        explode: true
        in: query
        name: run_async
        required: false
        schema:
          type: boolean
        style: form
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ContactEndpointRequest'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/ContactEndpointRequest'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/ContactEndpointRequest'
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ContactResponse'
      security:
      - tokenAuth: []
      tags:
      - contacts
      x-endpoint-availability: ENDPOINT_AVAILABILITY_PUBLIC
  /contacts/{id}:
    get:
      description: Returns a `Contact` object with the given `id`.
      operationId: contacts_retrieve
      parameters:
      - description: Token identifying the end user.
        explode: false
        in: header
        name: X-Account-Token
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      - description: Whether to include the original data Merge fetched from the third-party
          to produce these models.
        explode: true
        in: query
        name: include_remote_data
        required: false
        schema:
          type: boolean
        style: form
      - description: Deprecated. Use show_enum_origins.
        examples:
          OriginalEnumValuesStatus:
            summary: Original Enum Values Status
            value: status
        explode: true
        in: query
        name: remote_fields
        required: false
        schema:
          enum:
          - status
          type: string
        style: form
      - description: Which fields should be returned in non-normalized form.
        examples:
          OriginalEnumValuesStatus:
            summary: Original Enum Values Status
            value: status
        explode: true
        in: query
        name: show_enum_origins
        required: false
        schema:
          enum:
          - status
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Contact'
      security:
      - tokenAuth: []
      tags:
      - contacts
      x-endpoint-availability: ENDPOINT_AVAILABILITY_PUBLIC
  /contacts/meta/post:
    get:
      description: Returns metadata for `Contact` POSTs.
      operationId: contacts_meta_post_retrieve
      parameters:
      - description: Token identifying the end user.
        explode: false
        in: header
        name: X-Account-Token
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MetaResponse'
      security:
      - tokenAuth: []
      tags:
      - contacts
      x-merge-meta-post: META_POST
      x-endpoint-availability: ENDPOINT_AVAILABILITY_PUBLIC
  /credit-notes:
    get:
      description: Returns a list of `CreditNote` objects.
      operationId: credit_notes_list
      parameters:
      - description: Token identifying the end user.
        explode: false
        in: header
        name: X-Account-Token
        required: true
        schema:
          type: string
        style: simple
      - description: If provided, will only return credit notes for this company.
        examples:
          CompanyId:
            summary: company_id
        explode: true
        in: query
        name: company_id
        required: false
        schema:
          type: string
        style: form
      - description: If provided, will only return objects created after this datetime.
        explode: true
        in: query
        name: created_after
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: If provided, will only return objects created before this datetime.
        explode: true
        in: query
        name: created_before
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: The pagination cursor value.
        examples:
          CursorExample:
            summary: Cursor Example
            value: cD0yMDIxLTAxLTA2KzAzJTNBMjQlM0E1My40MzQzMjYlMkIwMCUzQTAw
        explode: true
        in: query
        name: cursor
        required: false
        schema:
          type: string
        style: form
      - description: Whether to include data that was marked as deleted by third party
          webhooks.
        explode: true
        in: query
        name: include_deleted_data
        required: false
        schema:
          type: boolean
        style: form
      - description: Whether to include the original data Merge fetched from the third-party
          to produce these models.
        explode: true
        in: query
        name: include_remote_data
        required: false
        schema:
          type: boolean
        style: form
      - description: If provided, only objects synced by Merge after this date time
          will be returned.
        explode: true
        in: query
        name: modified_after
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: If provided, only objects synced by Merge before this date time
          will be returned.
        explode: true
        in: query
        name: modified_before
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: Number of results to return per page.
        explode: true
        in: query
        name: page_size
        required: false
        schema:
          type: integer
        style: form
      - description: Deprecated. Use show_enum_origins.
        examples:
          OriginalEnumValuesStatus,Type:
            summary: Original Enum Values Status, Type
            value: status,type
        explode: true
        in: query
        name: remote_fields
        required: false
        schema:
          enum:
          - status
          - status,type
          - type
          type: string
        style: form
      - description: The API provider's ID for the given object.
        explode: true
        in: query
        name: remote_id
        required: false
        schema:
          nullable: true
          type: string
        style: form
      - description: Which fields should be returned in non-normalized form.
        examples:
          OriginalEnumValuesStatus,Type:
            summary: Original Enum Values Status, Type
            value: status,type
        explode: true
        in: query
        name: show_enum_origins
        required: false
        schema:
          enum:
          - status
          - status,type
          - type
          type: string
        style: form
      - description: If provided, will only return objects created after this datetime.
        explode: true
        in: query
        name: transaction_date_after
        required: false
        schema:
          format: date-time
          nullable: true
          type: string
        style: form
      - description: If provided, will only return objects created before this datetime.
        explode: true
        in: query
        name: transaction_date_before
        required: false
        schema:
          format: date-time
          nullable: true
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedCreditNoteList'
      security:
      - tokenAuth: []
      tags:
      - credit-notes
      x-endpoint-availability: ENDPOINT_AVAILABILITY_PUBLIC
  /credit-notes/{id}:
    get:
      description: Returns a `CreditNote` object with the given `id`.
      operationId: credit_notes_retrieve
      parameters:
      - description: Token identifying the end user.
        explode: false
        in: header
        name: X-Account-Token
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      - description: Whether to include the original data Merge fetched from the third-party
          to produce these models.
        explode: true
        in: query
        name: include_remote_data
        required: false
        schema:
          type: boolean
        style: form
      - description: Deprecated. Use show_enum_origins.
        examples:
          OriginalEnumValuesStatus,Type:
            summary: Original Enum Values Status, Type
            value: status,type
        explode: true
        in: query
        name: remote_fields
        required: false
        schema:
          enum:
          - status
          - status,type
          - type
          type: string
        style: form
      - description: Which fields should be returned in non-normalized form.
        examples:
          OriginalEnumValuesStatus,Type:
            summary: Original Enum Values Status, Type
            value: status,type
        explode: true
        in: query
        name: show_enum_origins
        required: false
        schema:
          enum:
          - status
          - status,type
          - type
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreditNote'
      security:
      - tokenAuth: []
      tags:
      - credit-notes
      x-endpoint-availability: ENDPOINT_AVAILABILITY_PUBLIC
  /delete-account:
    post:
      description: Delete a linked account.
      operationId: delete_account_create
      parameters:
      - description: Token identifying the end user.
        explode: false
        in: header
        name: X-Account-Token
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          description: No response body
      security:
      - tokenAuth: []
      tags:
      - delete-account
      x-endpoint-availability: ENDPOINT_AVAILABILITY_PUBLIC
  /expenses:
    get:
      description: Returns a list of `Expense` objects.
      operationId: expenses_list
      parameters:
      - description: Token identifying the end user.
        explode: false
        in: header
        name: X-Account-Token
        required: true
        schema:
          type: string
        style: simple
      - description: If provided, will only return expenses for this company.
        examples:
          CompanyId:
            summary: company_id
        explode: true
        in: query
        name: company_id
        required: false
        schema:
          type: string
        style: form
      - description: If provided, will only return objects created after this datetime.
        explode: true
        in: query
        name: created_after
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: If provided, will only return objects created before this datetime.
        explode: true
        in: query
        name: created_before
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: The pagination cursor value.
        examples:
          CursorExample:
            summary: Cursor Example
            value: cD0yMDIxLTAxLTA2KzAzJTNBMjQlM0E1My40MzQzMjYlMkIwMCUzQTAw
        explode: true
        in: query
        name: cursor
        required: false
        schema:
          type: string
        style: form
      - description: Whether to include data that was marked as deleted by third party
          webhooks.
        explode: true
        in: query
        name: include_deleted_data
        required: false
        schema:
          type: boolean
        style: form
      - description: Whether to include the original data Merge fetched from the third-party
          to produce these models.
        explode: true
        in: query
        name: include_remote_data
        required: false
        schema:
          type: boolean
        style: form
      - description: If provided, only objects synced by Merge after this date time
          will be returned.
        explode: true
        in: query
        name: modified_after
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: If provided, only objects synced by Merge before this date time
          will be returned.
        explode: true
        in: query
        name: modified_before
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: Number of results to return per page.
        explode: true
        in: query
        name: page_size
        required: false
        schema:
          type: integer
        style: form
      - description: The API provider's ID for the given object.
        explode: true
        in: query
        name: remote_id
        required: false
        schema:
          nullable: true
          type: string
        style: form
      - description: If provided, will only return objects created after this datetime.
        explode: true
        in: query
        name: transaction_date_after
        required: false
        schema:
          format: date-time
          nullable: true
          type: string
        style: form
      - description: If provided, will only return objects created before this datetime.
        explode: true
        in: query
        name: transaction_date_before
        required: false
        schema:
          format: date-time
          nullable: true
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedExpenseList'
      security:
      - tokenAuth: []
      tags:
      - expenses
      x-endpoint-availability: ENDPOINT_AVAILABILITY_PUBLIC
    post:
      description: Creates an `Expense` object with the given values.
      operationId: expenses_create
      parameters:
      - description: Token identifying the end user.
        explode: false
        in: header
        name: X-Account-Token
        required: true
        schema:
          type: string
        style: simple
      - description: Whether to include debug fields (such as log file links) in the
          response.
        explode: true
        in: query
        name: is_debug_mode
        required: false
        schema:
          type: boolean
        style: form
      - description: Whether or not third-party updates should be run asynchronously.
        explode: true
        in: query
        name: run_async
        required: false
        schema:
          type: boolean
        style: form
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ExpenseEndpointRequest'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/ExpenseEndpointRequest'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/ExpenseEndpointRequest'
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExpenseResponse'
      security:
      - tokenAuth: []
      tags:
      - expenses
      x-endpoint-availability: ENDPOINT_AVAILABILITY_PUBLIC
  /expenses/{id}:
    get:
      description: Returns an `Expense` object with the given `id`.
      operationId: expenses_retrieve
      parameters:
      - description: Token identifying the end user.
        explode: false
        in: header
        name: X-Account-Token
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      - description: Whether to include the original data Merge fetched from the third-party
          to produce these models.
        explode: true
        in: query
        name: include_remote_data
        required: false
        schema:
          type: boolean
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Expense'
      security:
      - tokenAuth: []
      tags:
      - expenses
      x-endpoint-availability: ENDPOINT_AVAILABILITY_PUBLIC
  /expenses/meta/post:
    get:
      description: Returns metadata for `Expense` POSTs.
      operationId: expenses_meta_post_retrieve
      parameters:
      - description: Token identifying the end user.
        explode: false
        in: header
        name: X-Account-Token
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MetaResponse'
      security:
      - tokenAuth: []
      tags:
      - expenses
      x-merge-meta-post: META_POST
      x-endpoint-availability: ENDPOINT_AVAILABILITY_PUBLIC
  /generate-key:
    post:
      description: Create a remote key.
      operationId: generate_key_create
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GenerateRemoteKeyRequest'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/GenerateRemoteKeyRequest'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/GenerateRemoteKeyRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RemoteKey'
      security:
      - tokenAuth: []
      tags:
      - generate-key
      x-endpoint-availability: ENDPOINT_AVAILABILITY_PUBLIC
  /income-statements:
    get:
      description: Returns a list of `IncomeStatement` objects.
      operationId: income_statements_list
      parameters:
      - description: Token identifying the end user.
        explode: false
        in: header
        name: X-Account-Token
        required: true
        schema:
          type: string
        style: simple
      - description: If provided, will only return income statements for this company.
        examples:
          CompanyId:
            summary: company_id
        explode: true
        in: query
        name: company_id
        required: false
        schema:
          type: string
        style: form
      - description: If provided, will only return objects created after this datetime.
        explode: true
        in: query
        name: created_after
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: If provided, will only return objects created before this datetime.
        explode: true
        in: query
        name: created_before
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: The pagination cursor value.
        examples:
          CursorExample:
            summary: Cursor Example
            value: cD0yMDIxLTAxLTA2KzAzJTNBMjQlM0E1My40MzQzMjYlMkIwMCUzQTAw
        explode: true
        in: query
        name: cursor
        required: false
        schema:
          type: string
        style: form
      - description: Whether to include data that was marked as deleted by third party
          webhooks.
        explode: true
        in: query
        name: include_deleted_data
        required: false
        schema:
          type: boolean
        style: form
      - description: Whether to include the original data Merge fetched from the third-party
          to produce these models.
        explode: true
        in: query
        name: include_remote_data
        required: false
        schema:
          type: boolean
        style: form
      - description: If provided, only objects synced by Merge after this date time
          will be returned.
        explode: true
        in: query
        name: modified_after
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: If provided, only objects synced by Merge before this date time
          will be returned.
        explode: true
        in: query
        name: modified_before
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: Number of results to return per page.
        explode: true
        in: query
        name: page_size
        required: false
        schema:
          type: integer
        style: form
      - description: The API provider's ID for the given object.
        explode: true
        in: query
        name: remote_id
        required: false
        schema:
          nullable: true
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedIncomeStatementList'
      security:
      - tokenAuth: []
      tags:
      - income-statements
      x-endpoint-availability: ENDPOINT_AVAILABILITY_PUBLIC
  /income-statements/{id}:
    get:
      description: Returns an `IncomeStatement` object with the given `id`.
      operationId: income_statements_retrieve
      parameters:
      - description: Token identifying the end user.
        explode: false
        in: header
        name: X-Account-Token
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      - description: Whether to include the original data Merge fetched from the third-party
          to produce these models.
        explode: true
        in: query
        name: include_remote_data
        required: false
        schema:
          type: boolean
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IncomeStatement'
      security:
      - tokenAuth: []
      tags:
      - income-statements
      x-endpoint-availability: ENDPOINT_AVAILABILITY_PUBLIC
  /invoices:
    get:
      description: Returns a list of `Invoice` objects.
      operationId: invoices_list
      parameters:
      - description: Token identifying the end user.
        explode: false
        in: header
        name: X-Account-Token
        required: true
        schema:
          type: string
        style: simple
      - description: If provided, will only return invoices for this company.
        examples:
          CompanyId:
            summary: company_id
        explode: true
        in: query
        name: company_id
        required: false
        schema:
          type: string
        style: form
      - description: If provided, will only return invoices for this contact.
        examples:
          ContactId:
            summary: contact_id
        explode: true
        in: query
        name: contact_id
        required: false
        schema:
          type: string
        style: form
      - description: If provided, will only return objects created after this datetime.
        explode: true
        in: query
        name: created_after
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: If provided, will only return objects created before this datetime.
        explode: true
        in: query
        name: created_before
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: The pagination cursor value.
        examples:
          CursorExample:
            summary: Cursor Example
            value: cD0yMDIxLTAxLTA2KzAzJTNBMjQlM0E1My40MzQzMjYlMkIwMCUzQTAw
        explode: true
        in: query
        name: cursor
        required: false
        schema:
          type: string
        style: form
      - description: Whether to include data that was marked as deleted by third party
          webhooks.
        explode: true
        in: query
        name: include_deleted_data
        required: false
        schema:
          type: boolean
        style: form
      - description: Whether to include the original data Merge fetched from the third-party
          to produce these models.
        explode: true
        in: query
        name: include_remote_data
        required: false
        schema:
          type: boolean
        style: form
      - description: If provided, will only return objects created after this datetime.
        explode: true
        in: query
        name: issue_date_after
        required: false
        schema:
          format: date-time
          nullable: true
          type: string
        style: form
      - description: If provided, will only return objects created before this datetime.
        explode: true
        in: query
        name: issue_date_before
        required: false
        schema:
          format: date-time
          nullable: true
          type: string
        style: form
      - description: If provided, only objects synced by Merge after this date time
          will be returned.
        explode: true
        in: query
        name: modified_after
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: If provided, only objects synced by Merge before this date time
          will be returned.
        explode: true
        in: query
        name: modified_before
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: Number of results to return per page.
        explode: true
        in: query
        name: page_size
        required: false
        schema:
          type: integer
        style: form
      - description: Deprecated. Use show_enum_origins.
        examples:
          OriginalEnumValuesType:
            summary: Original Enum Values Type
            value: type
        explode: true
        in: query
        name: remote_fields
        required: false
        schema:
          enum:
          - type
          type: string
        style: form
      - description: The API provider's ID for the given object.
        explode: true
        in: query
        name: remote_id
        required: false
        schema:
          nullable: true
          type: string
        style: form
      - description: Which fields should be returned in non-normalized form.
        examples:
          OriginalEnumValuesType:
            summary: Original Enum Values Type
            value: type
        explode: true
        in: query
        name: show_enum_origins
        required: false
        schema:
          enum:
          - type
          type: string
        style: form
      - description: |-
          If provided, will only return Invoices with this type

          * `ACCOUNTS_RECEIVABLE` - ACCOUNTS_RECEIVABLE
          * `ACCOUNTS_PAYABLE` - ACCOUNTS_PAYABLE
        explode: true
        in: query
        name: type
        required: false
        schema:
          enum:
          - ACCOUNTS_PAYABLE
          - ACCOUNTS_RECEIVABLE
          nullable: true
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedInvoiceList'
      security:
      - tokenAuth: []
      tags:
      - invoices
      x-endpoint-availability: ENDPOINT_AVAILABILITY_PUBLIC
    post:
      description: Creates an `Invoice` object with the given values.
      operationId: invoices_create
      parameters:
      - description: Token identifying the end user.
        explode: false
        in: header
        name: X-Account-Token
        required: true
        schema:
          type: string
        style: simple
      - description: Whether to include debug fields (such as log file links) in the
          response.
        explode: true
        in: query
        name: is_debug_mode
        required: false
        schema:
          type: boolean
        style: form
      - description: Whether or not third-party updates should be run asynchronously.
        explode: true
        in: query
        name: run_async
        required: false
        schema:
          type: boolean
        style: form
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/InvoiceEndpointRequest'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/InvoiceEndpointRequest'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/InvoiceEndpointRequest'
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvoiceResponse'
      security:
      - tokenAuth: []
      tags:
      - invoices
      x-endpoint-availability: ENDPOINT_AVAILABILITY_PUBLIC
  /invoices/{id}:
    get:
      description: Returns an `Invoice` object with the given `id`.
      operationId: invoices_retrieve
      parameters:
      - description: Token identifying the end user.
        explode: false
        in: header
        name: X-Account-Token
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      - description: Whether to include the original data Merge fetched from the third-party
          to produce these models.
        explode: true
        in: query
        name: include_remote_data
        required: false
        schema:
          type: boolean
        style: form
      - description: Deprecated. Use show_enum_origins.
        examples:
          OriginalEnumValuesType:
            summary: Original Enum Values Type
            value: type
        explode: true
        in: query
        name: remote_fields
        required: false
        schema:
          enum:
          - type
          type: string
        style: form
      - description: Which fields should be returned in non-normalized form.
        examples:
          OriginalEnumValuesType:
            summary: Original Enum Values Type
            value: type
        explode: true
        in: query
        name: show_enum_origins
        required: false
        schema:
          enum:
          - type
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Invoice'
      security:
      - tokenAuth: []
      tags:
      - invoices
      x-endpoint-availability: ENDPOINT_AVAILABILITY_PUBLIC
  /invoices/meta/post:
    get:
      description: Returns metadata for `Invoice` POSTs.
      operationId: invoices_meta_post_retrieve
      parameters:
      - description: Token identifying the end user.
        explode: false
        in: header
        name: X-Account-Token
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MetaResponse'
      security:
      - tokenAuth: []
      tags:
      - invoices
      x-merge-meta-post: META_POST
      x-endpoint-availability: ENDPOINT_AVAILABILITY_PUBLIC
  /issues:
    get:
      description: Gets issues.
      operationId: issues_list
      parameters:
      - explode: true
        in: query
        name: account_token
        required: false
        schema:
          type: string
        style: form
      - description: The pagination cursor value.
        examples:
          CursorExample:
            summary: Cursor Example
            value: cD0yMDIxLTAxLTA2KzAzJTNBMjQlM0E1My40MzQzMjYlMkIwMCUzQTAw
        explode: true
        in: query
        name: cursor
        required: false
        schema:
          type: string
        style: form
      - description: If included, will only include issues whose most recent action
          occurred before this time
        explode: true
        in: query
        name: end_date
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: end_user_organization_name
        required: false
        schema:
          type: string
        style: form
      - description: If provided, will only return issues whose first incident time
          was after this datetime.
        explode: true
        in: query
        name: first_incident_time_after
        required: false
        schema:
          format: date-time
          nullable: true
          type: string
        style: form
      - description: If provided, will only return issues whose first incident time
          was before this datetime.
        explode: true
        in: query
        name: first_incident_time_before
        required: false
        schema:
          format: date-time
          nullable: true
          type: string
        style: form
      - description: If True, will include muted issues
        explode: true
        in: query
        name: include_muted
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: integration_name
        required: false
        schema:
          type: string
        style: form
      - description: If provided, will only return issues whose last incident time
          was after this datetime.
        explode: true
        in: query
        name: last_incident_time_after
        required: false
        schema:
          format: date-time
          nullable: true
          type: string
        style: form
      - description: If provided, will only return issues whose last incident time
          was before this datetime.
        explode: true
        in: query
        name: last_incident_time_before
        required: false
        schema:
          format: date-time
          nullable: true
          type: string
        style: form
      - description: Number of results to return per page.
        explode: true
        in: query
        name: page_size
        required: false
        schema:
          type: integer
        style: form
      - description: If included, will only include issues whose most recent action
          occurred after this time
        explode: true
        in: query
        name: start_date
        required: false
        schema:
          type: string
        style: form
      - description: |-
          Status of the issue. Options: ('ONGOING', 'RESOLVED')

          * `ONGOING` - ONGOING
          * `RESOLVED` - RESOLVED
        explode: true
        in: query
        name: status
        required: false
        schema:
          enum:
          - ONGOING
          - RESOLVED
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedIssueList'
      security:
      - tokenAuth: []
      tags:
      - issues
      x-endpoint-availability: ENDPOINT_AVAILABILITY_PUBLIC
  /issues/{id}:
    get:
      description: Get a specific issue.
      operationId: issues_retrieve
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Issue'
      security:
      - tokenAuth: []
      tags:
      - issues
      x-endpoint-availability: ENDPOINT_AVAILABILITY_PUBLIC
  /items:
    get:
      description: Returns a list of `Item` objects.
      operationId: items_list
      parameters:
      - description: Token identifying the end user.
        explode: false
        in: header
        name: X-Account-Token
        required: true
        schema:
          type: string
        style: simple
      - description: If provided, will only return items for this company.
        examples:
          CompanyId:
            summary: company_id
        explode: true
        in: query
        name: company_id
        required: false
        schema:
          type: string
        style: form
      - description: If provided, will only return objects created after this datetime.
        explode: true
        in: query
        name: created_after
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: If provided, will only return objects created before this datetime.
        explode: true
        in: query
        name: created_before
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: The pagination cursor value.
        examples:
          CursorExample:
            summary: Cursor Example
            value: cD0yMDIxLTAxLTA2KzAzJTNBMjQlM0E1My40MzQzMjYlMkIwMCUzQTAw
        explode: true
        in: query
        name: cursor
        required: false
        schema:
          type: string
        style: form
      - description: Whether to include data that was marked as deleted by third party
          webhooks.
        explode: true
        in: query
        name: include_deleted_data
        required: false
        schema:
          type: boolean
        style: form
      - description: Whether to include the original data Merge fetched from the third-party
          to produce these models.
        explode: true
        in: query
        name: include_remote_data
        required: false
        schema:
          type: boolean
        style: form
      - description: If provided, only objects synced by Merge after this date time
          will be returned.
        explode: true
        in: query
        name: modified_after
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: If provided, only objects synced by Merge before this date time
          will be returned.
        explode: true
        in: query
        name: modified_before
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: Number of results to return per page.
        explode: true
        in: query
        name: page_size
        required: false
        schema:
          type: integer
        style: form
      - description: Deprecated. Use show_enum_origins.
        examples:
          OriginalEnumValuesStatus:
            summary: Original Enum Values Status
            value: status
        explode: true
        in: query
        name: remote_fields
        required: false
        schema:
          enum:
          - status
          type: string
        style: form
      - description: The API provider's ID for the given object.
        explode: true
        in: query
        name: remote_id
        required: false
        schema:
          nullable: true
          type: string
        style: form
      - description: Which fields should be returned in non-normalized form.
        examples:
          OriginalEnumValuesStatus:
            summary: Original Enum Values Status
            value: status
        explode: true
        in: query
        name: show_enum_origins
        required: false
        schema:
          enum:
          - status
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedItemList'
      security:
      - tokenAuth: []
      tags:
      - items
      x-endpoint-availability: ENDPOINT_AVAILABILITY_PUBLIC
  /items/{id}:
    get:
      description: Returns an `Item` object with the given `id`.
      operationId: items_retrieve
      parameters:
      - description: Token identifying the end user.
        explode: false
        in: header
        name: X-Account-Token
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      - description: Whether to include the original data Merge fetched from the third-party
          to produce these models.
        explode: true
        in: query
        name: include_remote_data
        required: false
        schema:
          type: boolean
        style: form
      - description: Deprecated. Use show_enum_origins.
        examples:
          OriginalEnumValuesStatus:
            summary: Original Enum Values Status
            value: status
        explode: true
        in: query
        name: remote_fields
        required: false
        schema:
          enum:
          - status
          type: string
        style: form
      - description: Which fields should be returned in non-normalized form.
        examples:
          OriginalEnumValuesStatus:
            summary: Original Enum Values Status
            value: status
        explode: true
        in: query
        name: show_enum_origins
        required: false
        schema:
          enum:
          - status
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Item'
      security:
      - tokenAuth: []
      tags:
      - items
      x-endpoint-availability: ENDPOINT_AVAILABILITY_PUBLIC
  /journal-entries:
    get:
      description: Returns a list of `JournalEntry` objects.
      operationId: journal_entries_list
      parameters:
      - description: Token identifying the end user.
        explode: false
        in: header
        name: X-Account-Token
        required: true
        schema:
          type: string
        style: simple
      - description: If provided, will only return journal entries for this company.
        examples:
          CompanyId:
            summary: company_id
        explode: true
        in: query
        name: company_id
        required: false
        schema:
          type: string
        style: form
      - description: If provided, will only return objects created after this datetime.
        explode: true
        in: query
        name: created_after
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: If provided, will only return objects created before this datetime.
        explode: true
        in: query
        name: created_before
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: The pagination cursor value.
        examples:
          CursorExample:
            summary: Cursor Example
            value: cD0yMDIxLTAxLTA2KzAzJTNBMjQlM0E1My40MzQzMjYlMkIwMCUzQTAw
        explode: true
        in: query
        name: cursor
        required: false
        schema:
          type: string
        style: form
      - description: Whether to include data that was marked as deleted by third party
          webhooks.
        explode: true
        in: query
        name: include_deleted_data
        required: false
        schema:
          type: boolean
        style: form
      - description: Whether to include the original data Merge fetched from the third-party
          to produce these models.
        explode: true
        in: query
        name: include_remote_data
        required: false
        schema:
          type: boolean
        style: form
      - description: If provided, only objects synced by Merge after this date time
          will be returned.
        explode: true
        in: query
        name: modified_after
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: If provided, only objects synced by Merge before this date time
          will be returned.
        explode: true
        in: query
        name: modified_before
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: Number of results to return per page.
        explode: true
        in: query
        name: page_size
        required: false
        schema:
          type: integer
        style: form
      - description: The API provider's ID for the given object.
        explode: true
        in: query
        name: remote_id
        required: false
        schema:
          nullable: true
          type: string
        style: form
      - description: If provided, will only return objects created after this datetime.
        explode: true
        in: query
        name: transaction_date_after
        required: false
        schema:
          format: date-time
          nullable: true
          type: string
        style: form
      - description: If provided, will only return objects created before this datetime.
        explode: true
        in: query
        name: transaction_date_before
        required: false
        schema:
          format: date-time
          nullable: true
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedJournalEntryList'
      security:
      - tokenAuth: []
      tags:
      - journal-entries
      x-endpoint-availability: ENDPOINT_AVAILABILITY_PUBLIC
    post:
      description: Creates a `JournalEntry` object with the given values.
      operationId: journal_entries_create
      parameters:
      - description: Token identifying the end user.
        explode: false
        in: header
        name: X-Account-Token
        required: true
        schema:
          type: string
        style: simple
      - description: Whether to include debug fields (such as log file links) in the
          response.
        explode: true
        in: query
        name: is_debug_mode
        required: false
        schema:
          type: boolean
        style: form
      - description: Whether or not third-party updates should be run asynchronously.
        explode: true
        in: query
        name: run_async
        required: false
        schema:
          type: boolean
        style: form
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/JournalEntryEndpointRequest'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/JournalEntryEndpointRequest'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/JournalEntryEndpointRequest'
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JournalEntryResponse'
      security:
      - tokenAuth: []
      tags:
      - journal-entries
      x-endpoint-availability: ENDPOINT_AVAILABILITY_PUBLIC
  /journal-entries/{id}:
    get:
      description: Returns a `JournalEntry` object with the given `id`.
      operationId: journal_entries_retrieve
      parameters:
      - description: Token identifying the end user.
        explode: false
        in: header
        name: X-Account-Token
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      - description: Whether to include the original data Merge fetched from the third-party
          to produce these models.
        explode: true
        in: query
        name: include_remote_data
        required: false
        schema:
          type: boolean
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JournalEntry'
      security:
      - tokenAuth: []
      tags:
      - journal-entries
      x-endpoint-availability: ENDPOINT_AVAILABILITY_PUBLIC
  /journal-entries/meta/post:
    get:
      description: Returns metadata for `JournalEntry` POSTs.
      operationId: journal_entries_meta_post_retrieve
      parameters:
      - description: Token identifying the end user.
        explode: false
        in: header
        name: X-Account-Token
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MetaResponse'
      security:
      - tokenAuth: []
      tags:
      - journal-entries
      x-merge-meta-post: META_POST
      x-endpoint-availability: ENDPOINT_AVAILABILITY_PUBLIC
  /link-token:
    post:
      description: Creates a link token to be used when linking a new end user.
      operationId: link_token_create
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EndUserDetailsRequest'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/EndUserDetailsRequest'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/EndUserDetailsRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LinkToken'
      security:
      - tokenAuth: []
      tags:
      - link-token
      x-endpoint-availability: ENDPOINT_AVAILABILITY_PUBLIC
  /linked-accounts:
    get:
      description: List linked accounts for your organization.
      operationId: linked_accounts_list
      parameters:
      - description: |-
          Options: ('hris', 'ats', 'accounting', 'ticketing', 'crm', 'mktg', 'filestorage')

          * `hris` - hris
          * `ats` - ats
          * `accounting` - accounting
          * `ticketing` - ticketing
          * `crm` - crm
          * `mktg` - mktg
          * `filestorage` - filestorage
        explode: true
        in: query
        name: category
        required: false
        schema:
          enum:
          - accounting
          - ats
          - crm
          - filestorage
          - hris
          - mktg
          - ticketing
          nullable: true
          type: string
        style: form
      - description: The pagination cursor value.
        examples:
          CursorExample:
            summary: Cursor Example
            value: cD0yMDIxLTAxLTA2KzAzJTNBMjQlM0E1My40MzQzMjYlMkIwMCUzQTAw
        explode: true
        in: query
        name: cursor
        required: false
        schema:
          type: string
        style: form
      - description: If provided, will only return linked accounts associated with
          the given email address.
        explode: true
        in: query
        name: end_user_email_address
        required: false
        schema:
          type: string
        style: form
      - description: If provided, will only return linked accounts associated with
          the given organization name.
        explode: true
        in: query
        name: end_user_organization_name
        required: false
        schema:
          type: string
        style: form
      - description: If provided, will only return linked accounts associated with
          the given origin ID.
        explode: true
        in: query
        name: end_user_origin_id
        required: false
        schema:
          type: string
        style: form
      - description: Comma-separated list of EndUser origin IDs, making it possible
          to specify multiple EndUsers at once.
        explode: true
        in: query
        name: end_user_origin_ids
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: id
        required: false
        schema:
          format: uuid
          type: string
        style: form
      - description: Comma-separated list of LinkedAccount IDs, making it possible
          to specify multiple LinkedAccounts at once.
        explode: true
        in: query
        name: ids
        required: false
        schema:
          type: string
        style: form
      - description: If `true`, will include complete production duplicates of the
          account specified by the `id` query parameter in the response. `id` must
          be for a complete production linked account.
        explode: true
        in: query
        name: include_duplicates
        required: false
        schema:
          type: boolean
        style: form
      - description: If provided, will only return linked accounts associated with
          the given integration name.
        explode: true
        in: query
        name: integration_name
        required: false
        schema:
          type: string
        style: form
      - description: If included, will only include test linked accounts. If not included,
          will only include non-test linked accounts.
        explode: true
        in: query
        name: is_test_account
        required: false
        schema:
          type: string
        style: form
      - description: Number of results to return per page.
        explode: true
        in: query
        name: page_size
        required: false
        schema:
          type: integer
        style: form
      - description: 'Filter by status. Options: `COMPLETE`, `INCOMPLETE`, `RELINK_NEEDED`'
        explode: true
        in: query
        name: status
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedAccountDetailsAndActionsList'
      security:
      - tokenAuth: []
      tags:
      - linked-accounts
      x-endpoint-availability: ENDPOINT_AVAILABILITY_PUBLIC
  /passthrough:
    post:
      description: Pull data from an endpoint not currently supported by Merge.
      operationId: passthrough_create
      parameters:
      - description: Token identifying the end user.
        explode: false
        in: header
        name: X-Account-Token
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DataPassthroughRequest'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/DataPassthroughRequest'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/DataPassthroughRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RemoteResponse'
      security:
      - tokenAuth: []
      tags:
      - passthrough
      x-endpoint-availability: ENDPOINT_AVAILABILITY_PUBLIC
  /payments:
    get:
      description: Returns a list of `Payment` objects.
      operationId: payments_list
      parameters:
      - description: Token identifying the end user.
        explode: false
        in: header
        name: X-Account-Token
        required: true
        schema:
          type: string
        style: simple
      - description: If provided, will only return payments for this account.
        examples:
          AccountId:
            summary: account_id
        explode: true
        in: query
        name: account_id
        required: false
        schema:
          type: string
        style: form
      - description: If provided, will only return payments for this company.
        examples:
          CompanyId:
            summary: company_id
        explode: true
        in: query
        name: company_id
        required: false
        schema:
          type: string
        style: form
      - description: If provided, will only return payments for this contact.
        examples:
          ContactId:
            summary: contact_id
        explode: true
        in: query
        name: contact_id
        required: false
        schema:
          type: string
        style: form
      - description: If provided, will only return objects created after this datetime.
        explode: true
        in: query
        name: created_after
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: If provided, will only return objects created before this datetime.
        explode: true
        in: query
        name: created_before
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: The pagination cursor value.
        examples:
          CursorExample:
            summary: Cursor Example
            value: cD0yMDIxLTAxLTA2KzAzJTNBMjQlM0E1My40MzQzMjYlMkIwMCUzQTAw
        explode: true
        in: query
        name: cursor
        required: false
        schema:
          type: string
        style: form
      - description: Whether to include data that was marked as deleted by third party
          webhooks.
        explode: true
        in: query
        name: include_deleted_data
        required: false
        schema:
          type: boolean
        style: form
      - description: Whether to include the original data Merge fetched from the third-party
          to produce these models.
        explode: true
        in: query
        name: include_remote_data
        required: false
        schema:
          type: boolean
        style: form
      - description: If provided, only objects synced by Merge after this date time
          will be returned.
        explode: true
        in: query
        name: modified_after
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: If provided, only objects synced by Merge before this date time
          will be returned.
        explode: true
        in: query
        name: modified_before
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: Number of results to return per page.
        explode: true
        in: query
        name: page_size
        required: false
        schema:
          type: integer
        style: form
      - description: The API provider's ID for the given object.
        explode: true
        in: query
        name: remote_id
        required: false
        schema:
          nullable: true
          type: string
        style: form
      - description: If provided, will only return objects created after this datetime.
        explode: true
        in: query
        name: transaction_date_after
        required: false
        schema:
          format: date-time
          nullable: true
          type: string
        style: form
      - description: If provided, will only return objects created before this datetime.
        explode: true
        in: query
        name: transaction_date_before
        required: false
        schema:
          format: date-time
          nullable: true
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedPaymentList'
      security:
      - tokenAuth: []
      tags:
      - payments
[...]
